.terraform
deployments
terraform.tfstate
terraform.tfstate.backup
translations
istio-1.0.4
terraform.tfvars
.terraform.tfstate.lock.info
*.out
output
*.log
.DS_Store
shunit2
vendor
flux
kubediff
.idea/