datasources: 
  datasources.yaml:
    apiVersion: 1
    datasources:
    - name: Prometheus
      type: prometheus
      url: http://prometheus-server.prometheus.svc.cluster.local
      access: proxy
      isDefault: true
dashboardProviders: 
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
    - name: default
      orgId: 1
      folder: 
      type: file
      disableDeletion: false
      editable: true
      options:
        path: /var/lib/grafana/dashboards/default
dashboards:
  default:
    cluster-metrics:
      gnetId: 6417
      revision: 1
      datasource: Prometheus
    persistent-volumes:
      gnetId: 6739
      revision: 1
      datasource: Prometheus

persistence:
  enabled: true
  storageClassName: default
  accessModes:
    - ReadWriteOnce
  size: 4Gi
plugins:
  - digrich-bubblechart-panel
  - grafana-clock-panel
